## Last commit: 2025-08-24 08:56:52 UTC by admin
version {{ config_context.version | default('24.2R1-S2.5') }};
{% include './junos_json/_system.j2' %}
{%- if config_context.get('chassis') or config_context.get('auto_image_upgrade') %}
{% include './junos_json/_chassis.j2' %}
{%- endif %}
{%- if interfaces %}
{% include './junos_json/_interfaces.j2' %}
{%- endif %}
{%- if config_context.get('routing_options') or config_context.get('static_routes') %}
{% include './junos_json/_routing_options.j2' %}
{%- endif %}
{%- if config_context.get('protocols') %}
{% include './junos_json/_protocols.j2' %}
{%- endif %}