{
  "configuration": {
    {% include './junos_json/_system.j2' %}{% if interfaces or config_context.get("bgp") or config_context.get("lldp") or snmp is defined or config_context.get("security") %},{% endif %}
    {% if interfaces %}
    {% include './junos_json/_interfaces.j2' %}{% if config_context.get("bgp") or config_context.get("lldp") or snmp is defined or config_context.get("security") %},{% endif %}
    {% endif %}
    {% if config_context.get("bgp") or config_context.get("lldp") %}
    {% include './junos_json/_protocols.j2' %}{% if snmp is defined or config_context.get("security") %},{% endif %}
    {% endif %}
    {% if snmp is defined %}
    {% include './junos_json/_services.j2' %}{% if config_context.get("security") %},{% endif %}
    {% endif %}
    {% if config_context.get("security") %}
    {% include './junos_json/_security.j2' %}
    {% endif %}
  }
}