{#- Authentication Configuration Partial -#}
{%- if config_context.get('root_authentication') or config_context.get('users') %}
    root-authentication {
        encrypted-password "{{ config_context.get('root_authentication', {}).get('encrypted_password', '') }}";
    }
{%- endif %}
{%- if config_context.get('users') or config_context.get('login') %}
    login {
{%- for user in config_context.get('users', [{'name': 'admin', 'uid': 2000, 'class': 'super-user', 'encrypted_password': ''}]) %}
        user {{ user.name }} {
            uid {{ user.uid }};
            class {{ user.class }};
            authentication {
                encrypted-password "{{ user.encrypted_password }}";
            }
        }
{%- endfor %}
    }
{%- endif %}