"bgp": {
  "local-as": {{ config_context.get("bgp", {}).get("asn") }},
  "group": {
    "name": "p2p",
    "export": "send-direct",
    {% if config_context.get("bgp", {}).get("neighbors") %}
    "neighbor": [
      {% for neighbor in config_context.get("bgp", {}).get("neighbors", []) %}
      {
        "name": "{{ neighbor.get('ip') }}",
        "peer-as": {{ neighbor.get('remote-asn') }}
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
    {% endif %}
  }
}