{% if config_context.get("dns") %}
"domain-name": "{{ config_context.dns.domain | default('example.com') }}",
"name-server": [
  {% for server in config_context.dns.servers | default([]) %}
  {
    "name": "{{ server }}"
  }{% if not loop.last %},{% endif %}
  {% endfor %}
]{% else %}
"domain-name": "example.com"{% endif %}