{% if config_context.get("ntp") %}
"ntp": {
  "server": [
    {% for server in config_context.ntp.servers | default([]) %}
    {
      "name": "{{ server }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}{% else %}
"ntp": {
  "server": [
    {
      "name": "pool.ntp.org"
    }
  ]
}{% endif %}