{% if config_context.get("security") %}
"security": {
  {% if config_context.security.get("zones") %}
  {% include './junos_json/_zones.j2' %}{% if config_context.security.get("policies") or config_context.security.get("firewall") %},{% endif %}
  {% endif %}
  {% if config_context.security.get("policies") %}
  {% include './junos_json/_policies.j2' %}{% if config_context.security.get("firewall") %},{% endif %}
  {% endif %}
  {% if config_context.security.get("firewall") %}
  {% include './junos_json/_firewall.j2' %}
  {% endif %}
}{% endif %}