{#- Services Configuration Partial -#}
{%- if config_context.get('services') or not config_context.get('services') %}
    services {
        ssh;
{%- if config_context.get('services') %}
{%- for service in config_context.get('services') %}
        {{ service }};
{%- endfor %}
{%- endif %}
    }
{%- endif %}