{#- Syslog Configuration Partial -#}
{%- if config_context.get('syslog') or not config_context.get('syslog') %}
    syslog {
{%- if config_context.get('syslog') and config_context.get('syslog', {}).get('files') %}
{%- for file in config_context.get('syslog', {}).get('files', []) %}
        file {{ file.name }} {
{%- for facility in file.facilities %}
            {{ facility.facility }} {{ facility.level }};
{%- endfor %}
        }
{%- endfor %}
{%- else %}
        file interactive-commands {
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
        }
{%- endif %}
    }
{%- endif %}