"system": {
  {% include './junos_json/_hostname.j2' %},
  "root-authentication": {
    "encrypted-password": "$6$Z5pgyCKJ$XFMRbBTMD.RjKlOtzCyUjcumTSnXDv6iX2HvhYr9dF3fJXsJeTP5Vms0lN7BzaQHyh8.nwUmsF.OBgBm/G.Dz1"
  },
  {% include './junos_json/_users.j2' %},
  {% include './junos_json/_dns.j2' %},
  {% include './junos_json/_ntp.j2' %},
  {% include './junos_json/_ssh.j2' %},
  {% include './junos_json/_syslog.j2' %}
}