router bgp {{ config_context.get("bgp", {}).get("asn") }}
  router-id {{ config_context.get("bgp", {}).get("rid") }}
{% if config_context.get("bgp", {}).get("log-neighbor-changes") == true %}
  log-neighbor-changes
{% endif %}
  address-family ipv4 unicast
    redistribute direct route-map PERMIT_CONN_ROUTES
{% for neighbor in config_context.get("bgp", {}).get("neighbors", []) %}
  neighbor {{ neighbor["ip"] }}
    remote-as {{ neighbor["remote-asn"] }}
    address-family ipv4 unicast
{% endfor %}

