snmp-server contact {{ config_context.get("snmp", {}).get("contact", "") }}
snmp-server location {{ config_context.get("snmp", {}).get("location", "") }}
{% for host in config_context.get("snmp", {}).get("host", []) %}
snmp-server host {{ host.get("ip", "") }} traps version {{ host.get("version", "") }} {{ host.get("community", "") }}
{% endfor %}
{% for community in config_context.get("snmp", {}).get("community", []) %}
snmp-server community {{ community.get("name", "") }} group {{ community.get("role", "") }}
{% endfor %}

