interface {{ interface["name"] }}
{% if interface["description"] is defined and (interface["description"] | trim) != "" %}
 description {{ interface["description"] }}
{% endif %}
{% if interface["ip_addresses"] | length > 0 %}
{% for addr in interface["ip_addresses"] %}
{% if addr["address"] is defined %}
 ip address {{ addr["address"] | ipaddress_interface("with_netmask") }}
{% endif %}
{% endfor %}
{% else %}
 no ip address
{% endif %}
{% if config_context.get("acl") is defined %}
{% if config_context.get("acl", {}).get("interfaces") is defined %}
{% if config_context.get("acl", {}).get("interfaces", {}).get(interface["name"]) is defined %}
 ip access-group {{ config_context.get("acl", {}).get("interfaces", {}).get(interface["name"], {}).get("acl") }} {{ config_context.get("acl", {}).get("interfaces", {}).get(interface["name"], {}).get("direction") }}
{% endif %}
{% endif %}
{% endif %}
{% if interface["enabled"] == false %}
 shutdown
{% endif %}
speed auto
duplex auto
!

